@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-tap-highlight-color: transparent;
}
body {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   line-height: 1.5;
}
html {
   font-size: 62.5%;
}
/*
scroolbar
*/
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}
html *::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
   background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

button,
input {
   border: none;
   outline: none;
}

.App {
   background-color: #090a0e;
}
.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   background-color: #0f1104;
   padding: 15px;
   position: relative;
   z-index: 8;
}
.container_poster {
   transform: translateY(-35px);
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   background-color: #0f1104;
   padding: 15px;
   position: relative;
   z-index: 8;
}
.wrapper_poster {
   background-color: #0f1104;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 40px 30px;
   position: relative;
}
.poster {
   max-width: 100%;
   background-size: cover;
   cursor: pointer;
}
.poster img {
   display: block;
   width: 100%;
}
.poster_title {
   margin-top: 10px;
   color: #fff;
   font-size: 1.5rem;
}
.header {
   width: 100%;
   padding: 0px 10rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
}
.sticky {
   background-color: #000000;
   box-shadow: rgba(30, 27, 30, 0.8) 0px 7px 29px 0px;
   transition: background-color 0.3s ease;
}
.logo img {
   width: 130px;
}

.search input,
.search button {
   padding: 10px 15px;
   outline: none;
   border: none;
}

.search input[type="text"] {
   background-color: #757474;
   color: white;
   border-radius: 5px;
}
::-webkit-input-placeholder {
   /* Edge */
   color: white;
}
.search button {
   width: 80px;
   background-color: #f40612;
   color: white;
   font-weight: 500;
}
.no-image {
   font-weight: 600;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   min-height: 405px;
}

.hero {
   color: white;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 750px;
   display: flex;
   align-items: flex-end;
   position: relative;
}
.hero_content {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding: 30px;
   margin-bottom: 40px;
}

.hero_content h1 {
   margin-top: 15px;
   font-size: 70px;
   line-height: 70px;
   letter-spacing: -3px;
}

.hero_desc {
   font-size: 1.4rem;
}

.btn_primary {
   display: flex;
   align-items: center;
   position: relative;
   background-color: #ae0b13;
   font-size: 25px;
   color: white;
   border-radius: 6px;
   padding: 12px 25px;
   font-weight: 600;
   cursor: pointer;
}
.btn_close {
   text-align: center;
   padding: 10px 20px;
   line-height: 30px;
   font-size: 20px;
   position: absolute;
   left: 50px;
   bottom: 100px;
}
.btn_play {
   font-size: 4rem;
   margin-right: 20px;
}

.youtube_container {
   position: absolute;
   left: 190px;
   top: 30px;
   right: 190px;
   bottom: 50px;
   z-index: 12;
   height: 650px;
}

@media only screen and (max-width: 739px) {
   .header {
      padding: 12px 14px;
      position: fixed;
      background-color: #000000;
      box-shadow: rgba(30, 27, 30, 0.8) 0px 7px 29px 0px;
      transition: background-color 0.3s ease;
   }
   .wrapper_poster {
      grid-template-columns: 1fr 1fr;
   }
   .logo img {
      width: 15rem;
   }
   .search input[type="text"] {
      width: 10rem;
      padding: 6px 10px;
      font-size: 1.2rem;
   }
   .search button {
      width: 5rem;
      padding: 6px 5px;
      font-size: 1.2rem;
   }
   .hero_content h1{
      font-size: 4rem;
   }
   .youtube_container{
      top: 100px;
      left: 0;
      right: 0;
   }
   .btn_close{
      background-color: transparent;
      color: white;
      z-index: 20;
      right: 0;
      left: 75%;
      top: -62%;
      bottom: none;
      padding: 0;
   }
}
